@media (min-width: 500px) and (max-width: 1199px) {

}

* {
  box-sizing: border-box;  
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e2e2e2;
}

#main-doc { 
  height: 100vh;
}

/* Navbar starts here */
#navbar { 
  width: 25%;
  height: 100%;  
  border-right: 2px solid black;
  position: fixed;
  top: 0;
}

#navbar header {  
  border-bottom: 0.5px solid black;
  width: 100%;
  padding: 15px 0 15px 10px;
}

#navbar ul { 
  padding: 0;
  margin: 0;
}

#navbar li { 
  display: block;
  border-bottom: 0.5px solid black;
  list-style-type: none;
  padding: 15px 0 15px 10px;
  width: 100%;
}

#navbar li:hover {
  background-color: #7e7e7e;
}
/* Navbar ends here */

.content { 
  margin-left: 25%;  
}

.main-section { 
  padding: 15px 0 15px 10px;
  border-bottom: 0.5px solid black;
}